button {
    font-size: large;
}

input {
    font-size: 16px;
}

.container {
    max-width: 700px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.group {
    padding: 20px;
    margin: 10px;
    border: 1px solid black;
}

#log {
    width: max-content;
    margin: 0 auto;
}

#log div {
    margin: 18px;
}

#records table {
    margin: 0 auto;
}