button {
    font-size: large;
}

input {
    font-size: 16px;
}


h1 {
    text-align: center;
}

.container {
    max-width: 700px;
    margin: 0 auto;
}

.m {
    margin: 20px;
}

.flex {
    display: flex;
    justify-content: space-around;
}

.tab-content-container {
    background-color: antiquewhite;
}

/* タブのスタイル */
.tab-header {
    text-align: center;
}

.tab-list {
    display: inline-block;
    list-style-type: none;
}

.tab-item {
    display: inline-block;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.tab-item:hover {
    background-color: #ddd;
}

.tab-item.active {
    background-color: #fff;
    border-bottom: 2px solid #ddd;
}

/* タブのコンテンツのスタイル */
.tab-content-container {
    padding: 20px;
    margin: 20px;
    border: 2px solid #ddd;
    border-top: none;
    border-right: none;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}


/* 履歴テーブルのスタイル */

table {
    margin: 0 auto;
}

thead {
    font-size: larger;
}
